github "thii/SwiftHEXColors"
github "PureLayout/PureLayout"
github "ReactiveCocoa/ReactiveCocoa" ~> 5.0
github "ibireme/YYText"
github "SVProgressHUD/SVProgressHUD"
github "yulingtianxia/TBActionSheet"